<div class="w-full" >
    <h3 class="p-2 mb-3 bg-gray-200
    rounded-md font-bold" >Random Dog Image</h3>
    <div class="mb-4 
    max-h-full max-w-full">
        <img
         src={{imageSrc}} class="max-w-full
        max-h-full rounded bg-gradient
        from-purple-700 to-blue-500" 
        alt="random dog" />
        
    </div>
    <div class="flex items-center justify-center" >
        <button class="bg-indigo-700 py-1 px-2
    hover:bg-indigo-500 text-white active:bg-indigo-500
    rounded-lg" 
    (click)="onClick()" >Next</button>
    </div>
</div>
